USE [QuanLySanBong]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[CartDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[YardDetailId] [int] NOT NULL,
	[DateBook] [datetime2](7) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_CartDetail] PRIMARY KEY CLUSTERED 
(
	[CartDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreate] [datetime2](7) NOT NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[YardDetailId] [int] NOT NULL,
	[DateBook] [datetime2](7) NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_InvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayGround]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayGround](
	[PlayGroundId] [int] IDENTITY(1,1) NOT NULL,
	[PlayGroundName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PlayGround] PRIMARY KEY CLUSTERED 
(
	[PlayGroundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubYard]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubYard](
	[SubYardId] [int] IDENTITY(1,1) NOT NULL,
	[SubYardName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SubYard] PRIMARY KEY CLUSTERED 
(
	[SubYardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[TimeStart] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[LoaiUser] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YardDetail]    Script Date: 30/10/2023 23:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YardDetail](
	[YardDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PlayGroundId] [int] NOT NULL,
	[SubYardId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_YardDetail] PRIMARY KEY CLUSTERED 
(
	[YardDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [UserId], [Total]) VALUES (1, 3, 0)
INSERT [dbo].[Cart] ([CartId], [UserId], [Total]) VALUES (2, 4, 0)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceId], [UserId], [DateCreate], [Total]) VALUES (2, 3, CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), 900000)
INSERT [dbo].[Invoice] ([InvoiceId], [UserId], [DateCreate], [Total]) VALUES (4, 3, CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), 450000)
INSERT [dbo].[Invoice] ([InvoiceId], [UserId], [DateCreate], [Total]) VALUES (5, 3, CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), 450000)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetail] ON 

INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [InvoiceId], [YardDetailId], [DateBook], [Price]) VALUES (1, 2, 21, CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), 400000)
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [InvoiceId], [YardDetailId], [DateBook], [Price]) VALUES (2, 2, 71, CAST(N'2023-10-31T00:00:00.0000000' AS DateTime2), 500000)
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [InvoiceId], [YardDetailId], [DateBook], [Price]) VALUES (3, 4, 856, CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), 450000)
SET IDENTITY_INSERT [dbo].[InvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayGround] ON 

INSERT [dbo].[PlayGround] ([PlayGroundId], [PlayGroundName], [PhoneNumber], [Address], [Image], [Description]) VALUES (1, N'Sân bóng Thành Phát', N'0985592136', N'Số 2 Hoàng Minh Giám, phường Trung Hòa, quận Cầu Giấy, Hà Nội', N'Anhtest1', N'đối diện cổng trường Hà Nội Amsterdam')
INSERT [dbo].[PlayGround] ([PlayGroundId], [PlayGroundName], [PhoneNumber], [Address], [Image], [Description]) VALUES (2, N'Sân bóng Yên Hòa', N'0985592136', N'Số 224 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội', N'Anhtest2', N'ngã tư Trung Kính giao Dương Đình Nghệ')
INSERT [dbo].[PlayGround] ([PlayGroundId], [PlayGroundName], [PhoneNumber], [Address], [Image], [Description]) VALUES (3, N'Sân bóng Thành Đồng', N'0963.791.628', N'B9 LS2 Khu đô thị Nam Trung Yên, quận Cầu Giấy, Hà Nội.', N'Anhtest3', N'Sân bóng có chất lượng dịch vụ tốt, các đội được dùng nước uống thỏa mái. Điều này rất thuận tiện cho các giải bóng đá phong trào.')
SET IDENTITY_INSERT [dbo].[PlayGround] OFF
GO
SET IDENTITY_INSERT [dbo].[SubYard] ON 

INSERT [dbo].[SubYard] ([SubYardId], [SubYardName]) VALUES (1, N'Sân số 1')
INSERT [dbo].[SubYard] ([SubYardId], [SubYardName]) VALUES (2, N'Sân số 2')
INSERT [dbo].[SubYard] ([SubYardId], [SubYardName]) VALUES (3, N'Sân số 3')
SET IDENTITY_INSERT [dbo].[SubYard] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([TimeSlotId], [TimeStart], [TimeEnd]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'09:30:00' AS Time))
INSERT [dbo].[TimeSlot] ([TimeSlotId], [TimeStart], [TimeEnd]) VALUES (2, CAST(N'09:30:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[TimeSlot] ([TimeSlotId], [TimeStart], [TimeEnd]) VALUES (3, CAST(N'13:00:00' AS Time), CAST(N'14:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [DisplayName], [Password], [PhoneNumber], [LoaiUser]) VALUES (3, N'thanhdat', N'Nguyễn Thành Đạt', N'123456', N'09855921360', 0)
INSERT [dbo].[User] ([UserId], [Username], [DisplayName], [Password], [PhoneNumber], [LoaiUser]) VALUES (4, N'vanhoan', N'Vũ Văn Hoàn', N'123456', N'09855921362', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[YardDetail] ON 

INSERT [dbo].[YardDetail] ([YardDetailId], [PlayGroundId], [SubYardId], [TimeSlotId], [Price]) VALUES (1, 1, 1, 1, 400000)
INSERT [dbo].[YardDetail] ([YardDetailId], [PlayGroundId], [SubYardId], [TimeSlotId], [Price]) VALUES (2, 1, 1, 2, 400000)
INSERT [dbo].[YardDetail] ([YardDetailId], [PlayGroundId], [SubYardId], [TimeSlotId], [Price]) VALUES (3, 1, 1, 3, 400000)
GO
SET IDENTITY_INSERT [dbo].[YardDetail] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User_UserId]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Cart_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Cart_CartId]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_YardDetail_YardDetailId] FOREIGN KEY([YardDetailId])
REFERENCES [dbo].[YardDetail] ([YardDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_YardDetail_YardDetailId]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_User_UserId]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice_InvoiceId]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_YardDetail_YardDetailId] FOREIGN KEY([YardDetailId])
REFERENCES [dbo].[YardDetail] ([YardDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_YardDetail_YardDetailId]
GO
ALTER TABLE [dbo].[YardDetail]  WITH CHECK ADD  CONSTRAINT [FK_YardDetail_PlayGround_PlayGroundId] FOREIGN KEY([PlayGroundId])
REFERENCES [dbo].[PlayGround] ([PlayGroundId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YardDetail] CHECK CONSTRAINT [FK_YardDetail_PlayGround_PlayGroundId]
GO
ALTER TABLE [dbo].[YardDetail]  WITH CHECK ADD  CONSTRAINT [FK_YardDetail_SubYard_SubYardId] FOREIGN KEY([SubYardId])
REFERENCES [dbo].[SubYard] ([SubYardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YardDetail] CHECK CONSTRAINT [FK_YardDetail_SubYard_SubYardId]
GO
ALTER TABLE [dbo].[YardDetail]  WITH CHECK ADD  CONSTRAINT [FK_YardDetail_TimeSlot_TimeSlotId] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlot] ([TimeSlotId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YardDetail] CHECK CONSTRAINT [FK_YardDetail_TimeSlot_TimeSlotId]
GO
